
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f9f9f9;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: url('https://images.unsplash.com/photo-1552566626-52f8b828add9?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80') no-repeat center center/cover ;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    font-size: 16px;

}


header {
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: slideDown 0.8s ease-out;
    flex-wrap: wrap;
  }
  
   .custom-nav {
    background-color: black !important;
  }
  
  header .logo {
    font-size: 2.5rem;
    font-weight: bold;
    transition: transform 0.3s ease;
    margin-right: auto;
  }
  
  header .logo:hover {
    transform: scale(1.05);
  }
  
  header .nav-links {
    list-style: none;
    display: flex;
  }
  
  header .nav-links li {
    margin-left: 2.5rem;
  }
  
  header .nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease;
  }
  
  header .nav-links a:hover {
    color: #ff6b6b;
  }

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 2.5rem;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #ff6b6b;
}

.main-container {
    display: flex;
    justify-content: center;
    padding: 2rem;
    margin-top: 100px;
}

.form-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 45%;
}

.table-booking-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 45%;
    
}

.input-group {
    margin-bottom: 20px;
    
}
input[type="text"], input[type="email"] {
    width: 100%; /* Ensure both types of input take full width */
}


label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="tel"],
input[type="date"],
input[type="number"] {
    width: 100%;
    padding: 12px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

select {
    width: 100%;
    padding: 12px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-btn {
    background-color: #4c74af;
    color: white;
    padding: 15px 30px;
    font-size: 1.2em;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.submit-btn:hover {
    background-color: #4c74af;
    transform: scale(1.05);
}

.table-selection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1px;
    padding: 10px;
    margin-top: 5px;
}

.table-selection .table {
    width: 100%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.table-selection .table.selected {
    background-color: #4c74af;
    color: white;
    border: 1px solid #4c74af;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1001;
}

.modal-content {
    background-color: rgba(0, 0, 0, 0.8);
    color: rgb(69, 69, 69);
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}

.modal-btn {
    padding: 15px 30px;
    font-size: 1.1em;
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #6200ea;
    color: white;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
